beautifulsoup4==4.13.4
numpy==2.2.5
Requests==2.32.3
scikit_learn==1.6.1
sentence_transformers==4.1.0
spacy==3.8.5
transformers==4.51.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
